Source: vaultwarden
Section: web
Priority: optional
Build-Depends: debhelper-compat (= 13),
               help2man <!cross>,
               libmariadb-dev-compat | libmysqlclient-dev,
               libpq-dev,
               libsqlite3-dev,
               libssl-dev,
               pkgconf:native,
               rustup:native | cargo:native,
               zlib1g-dev,
Maintainer: dionysius <dragon.dionysius@gmail.com>
Standards-Version: 4.7.2
Vcs-Git: https://github.com/dionysius/vaultwarden-deb.git
Vcs-Browser: https://github.com/dionysius/vaultwarden-deb
Homepage: https://github.com/dani-garcia/vaultwarden
Rules-Requires-Root: no

Package: vaultwarden
Architecture: any
Depends: adduser,
         vaultwarden-web-vault,
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: vaultwarden-doc (= ${source:Version}),
Description: Unofficial Bitwarden compatible server written in Rust
 Alternative implementation of the Bitwarden server API written in Rust and
 compatible with upstream Bitwarden clients*, perfect for self-hosted
 deployment where running the official resource-heavy service might not be
 ideal.
 .
 This package contains the vaultwarden api server

Package: vaultwarden-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Unofficial Bitwarden compatible server - documentation
 Alternative implementation of the Bitwarden server API written in Rust and
 compatible with upstream Bitwarden clients*, perfect for self-hosted
 deployment where running the official resource-heavy service might not be
 ideal.
 .
 This package contains the manual page for vaultwarden
