#!/usr/bin/make -f

export DH_VERBOSE = 1
MAKEFLAGS += --no-print-directory

# use cargo provided by rustup if available
export PATH := $(HOME)/.cargo/bin:$(PATH)

%:
	dh $@

override_dh_auto_install:
# build and install in one go
	mkdir -p debian/tmp/usr
	cargo install --path . --features sqlite,mysql,postgresql --root debian/tmp --debug
	mv debian/tmp/bin debian/tmp/usr

# use source env template and prepare maintainer defaults
	cp .env.template debian/vaultwarden.default

	dh_auto_install -- --no-source
