#!/usr/bin/make -f

export DH_VERBOSE = 1
MAKEFLAGS += --no-print-directory

# use cargo provided by rustup if available
export PATH := $(HOME)/.cargo/bin:$(PATH)

%:
	dh $@

# for now we build and install in one go
override_dh_auto_install:
	mkdir -p debian/tmp/usr
# Theres no default cargo profile providing optimizations and debug info, otherwise I'd add --debug
# see: https://doc.rust-lang.org/cargo/reference/profiles.html#default-profiles
	cargo install --path . --features sqlite,mysql,postgresql --root debian/tmp
	mv debian/tmp/bin debian/tmp/usr

# use upstream env template as defaults
	cp .env.template debian/vaultwarden.default

	dh_auto_install -- --no-source
