#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

export DH_VERBOSE = 1
MAKEFLAGS += --no-print-directory

# use cargo provided by rustup if available
export PATH := $(HOME)/.cargo/bin:$(PATH)
# use cargo provided by vendored rust if available (obs build)
export PATH := debian/rust/bin:$(PATH)
# export LD_LIBRARY_PATH := debian/rust/lib:$(LD_LIBRARY_PATH)

# override release profile with optimizations, debug
cargoinstallargs = --config profile.release.opt-level=3 \
                   --config profile.release.debug=true \
                   --config profile.release.split-debuginfo=\"off\" \
                   --config profile.release.strip=\"none\"

# Extract parallel jobs from DEB_BUILD_OPTIONS
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
export CARGO_BUILD_JOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

# Support features overrides from DEB_BUILD_OPTIONS
ifneq (,$(filter features=%,$(DEB_BUILD_OPTIONS)))
cargoinstallargs += --features $(patsubst features=%,%,$(filter features=%,$(DEB_BUILD_OPTIONS)))
else
cargoinstallargs += --features sqlite,mysql,postgresql
endif

# set version env so compilation can include it
export VW_VERSION = $(DEB_VERSION_UPSTREAM)

# I really wanted to use [dh-cargo](https://packages.debian.org/sid/dh-cargo) but I couldn't get it to work (see branch [dh-cargo](https://github.com/dionysius/vaultwarden-deb/tree/dh-cargo/)). Weirdly the compile process happens in `dh_auto_test` instead of `dh_auto_build`
%:
	dh $@

execute_before_dh_auto_configure:
	mkdir -p .cargo
	install debian/config.toml .cargo/config.toml
	./rust-$(DEB_BUILD_ARCH)/install.sh --components=cargo,rustc,rust-std-$(DEB_BUILD_GNU_CPU)-unknown-linux-gnu --disable-ldconfig --prefix=debian/rust
	rm -rf rust-*
	ls -lah debian/rust
	which rustc
	which cargo

override_dh_auto_build:
# # --ignore-rust-version (for osc build) as well as remove rustup from build-dependencies
# # --locked preferred
# 	printenv LD_LIBRARY_PATH
	printenv PATH
	rustc -vV
	cargo build $(cargoinstallargs) --locked --offline --target-dir target

override_dh_auto_install:
	cat .cargo/config.toml
	mkdir -p debian/tmp/usr/bin
	install -m755 target/release/vaultwarden debian/tmp/usr/bin/
# 	mkdir -p debian/tmp/usr
# 	cargo install $(cargoinstallargs) --offline --locked --path . --root debian/tmp
# 	mv debian/tmp/bin debian/tmp/usr

# use upstream env template as defaults with some maintainer defaults
	mv .env.template debian/vaultwarden.default
	sed -i 's|^# WEB_VAULT_FOLDER=.*|WEB_VAULT_FOLDER=/usr/share/vaultwarden-web-vault/|g' debian/vaultwarden.default

	dh_auto_install -- --no-source
