# Please consider only editing this file through systemd drop-in files
# (e.g. `systemd edit vaultwarden`). This will enable you to get updates
# to this file automatically, without your overrides being lost.

[Unit]
Description=Vaultwarden API server
Documentation=https://github.com/dani-garcia/vaultwarden/wiki
# The service requires network interfaces to be configured.
After=network.target
# If you want to expose the server to the network directly, you may find the following useful:
#After=network-online.target

# The default database backend, SQLite, does not require any external services.
# However, other backends (MariaDB, MySQL, PostgreSQL) - if running on this system - should specify dependencies,
# such that Vaultwarden is only started after (`After=`) the DB has successfully (`Requires=`) started.
# Example for MariaDB:
#After=mariadb.service
#Requires=mariadb.service

# If running Vaultwarden behind a reverse proxy - running on this system - consider ordering it before also:
#Before=nginx.service

[Service]
User=vaultwarden
Group=vaultwarden
EnvironmentFile=-%E/default/vaultwarden
Environment=ENV_FILE=%E/vaultwarden/vaultwarden.env
Type=exec
ExecStart=/usr/bin/vaultwarden
ConfigurationDirectory=vaultwarden
ConfigurationDirectoryMode=0500
StateDirectory=vaultwarden
StateDirectoryMode=0750
CacheDirectory=vaultwarden
CacheDirectoryMode=0750

# Set reasonable connection and process limits.
LimitNOFILE=1048576
LimitNPROC=64

## Isolate vaultwarden from the rest of the system.
DynamicUser=true

ProtectProc=noaccess
ProcSubset=pid
ProtectHome=true
SetLoginEnvironment=false
SecureBits=noroot noroot-locked
UMask=0027
PrivateIPC=true
ProtectClock=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=strict
RestrictAddressFamilies=AF_INET AF_INET6
RestrictFileSystems=@basic-api @common-block
PrivateBPF=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RemoveIPC=true
SystemCallFilter=@system-service
SystemCallArchitectures=native
AmbientCapabilities=
CapabilityBoundingSet=
# Uncomment these to allow vaultwarden to bind to ports in the range 0-1024.
# (This should be unnecessary if serving over localhost.)
#AmbientCapabilities=CAP_NET_BIND_SERVICE
#CapabilityBoundingSet=CAP_NET_BIND_SERVICE

PrivateTmp=true

[Install]
WantedBy=multi-user.target
